<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="textFilePath" value="..\..\..\..\DataLibrary"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournament" connectionString="Server=dbsys.cs.vsb.cz\sqldb;Initial Catalog=SAL0156;User Id=SAL0156;password=uqX7z3L81A8HrR55;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>